services:
  jenkins:
    image: "jenkins-custom:{{ jenkins_version }}"
    container_name: jenkins
    restart: unless-stopped
    ports:
      - "8083:8080"
    env_file:
      - .env
    environment:
      - CASC_JENKINS_CONFIG=/var/jenkins_home/casc_configs/jenkins-casc.yaml
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
    volumes:
      - jenkins-data:/var/jenkins_home
      - ./jenkins-casc.yaml:/var/jenkins_home/casc_configs/jenkins-casc.yaml:ro
      - /var/run/docker.sock:/var/run/docker.sock
    group_add:
      - "{{ docker_gid }}"
    networks:
      - default

volumes:
  jenkins-data:

networks:
  default:
    name: jenkins-network
