jenkins:
  systemMessage: "Managed by JCasC via vertex-studio"
  numExecutors: 2
  mode: NORMAL

  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "{{ jenkins_admin_user }}"
          password: "${JENKINS_ADMIN_PASSWORD}"

  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false

credentials:
  system:
    domainCredentials:
      - credentials:
          - usernamePassword:
              scope: GLOBAL
              id: "github-pat"
              username: "{{ github_username }}"
              password: "${GITHUB_PAT}"
              description: "GitHub PAT"

unclassified:
  location:
    url: "{{ jenkins_url }}"

jobs:
{% for repo in jenkins_repos %}
  - script: >
      multibranchPipelineJob('{{ repo }}') {
        branchSources {
          branchSource {
            source {
              github {
                id('{{ repo }}')
                repoOwner('{{ github_username }}')
                repository('{{ repo }}')
                repositoryUrl('https://github.com/{{ github_username }}/{{ repo }}')
                configuredByUrl(true)
                credentialsId('github-pat')
                traits {
                  gitHubBranchDiscovery {
                    strategyId(1)
                  }
                  gitHubTagDiscovery()
                }
              }
            }
            buildStrategies {
              buildTags {
                atLeastDays('-1')
                atMostDays('7')
              }
            }
          }
        }
        orphanedItemStrategy {
          discardOldItems {
            numToKeep(5)
          }
        }
      }
{% endfor %}
